<div class="container mt-5">
  <h1>Contact Us</h1>
  <p>
    If you have any inquiries or would like to get in touch, please feel free to
    connect with me on LinkedIn or visit my personal website for more
    information.
  </p>

  <div class="row">
    <div class="col-md-1">
      <a
        href="https://www.linkedin.com/in/mohammed-hattab-295076216/"
        target="_blank"
        class="btn btn-primary"
        >LinkedIn</a
      >
    </div>
    <div class="col-md-3">
      <a href="https://mtattab.com" target="_blank" class="btn btn-danger"
        >Personal Website</a
      >
    </div>
  </div>
</div>
