.dark-input {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    border: 1px solid #666; /* Dark border color */
}

.search-input {
    padding-left: 25px; /* Adjust as needed */
    padding-right: 25px; /* Adjust as needed */
    text-align: center; /* Center the placeholder text */
}