.card {
    /* Add your card styles here */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}







:host {
    display: flex;
    justify-content: center;
  }
  
  /* Adjust the size of the chart */
  .polarAreaChart {
    width: 110%; /* Adjust width as needed */
    height: 110%; /* Adjust height as needed */
  }

  .doughnetChart {
    width: 50%; /* Adjust width as needed */
    height: 50%; /* Adjust height as needed */
  }


  .dropdown-item {
    cursor: pointer;
}