<div class="container">
    <div class="row">
      <div class="col-md-2">
        <button mat-fab extended color="primary" id="" (click)="refresh()">
          <i class="fas fa-sync-alt"></i> Refresh
        </button>
      </div>
  
      <div class="col-md-2">
        <div class="card flex justify-content-center">
          <p-floatLabel>
            <p-calendar
              [(ngModel)]="rangeDates"
              selectionMode="range"
              [numberOfMonths]="2"
              inputId="Date"
            />
            <label for="Date">Date</label>
          </p-floatLabel>
        </div>
      </div>
    </div>
  <hr />
  
  <div class="row">
    <div class="col-lg-6">
        <div class="flex justify-content-center">
            <p-chart type="pie" [data]="data" [options]="options" class="custom-chart"></p-chart>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="flex justify-content-center">
            <p-chart type="polarArea" [data]="data" [options]="options" />
        </div>
  </div>

  
  
  
  </div>